.about-page {
    padding: 100px 30px;
    text-align: center;
    background-color: #ffffff; /* Light yellowish background */
    color: #333;
    min-height: 80vh;
  }
  
  .about-page h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2e8b57;
  }
  
  .about-page h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    color: #1e6b40;
  }
  
  .about-page p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
  }
  
  .about-page ul {
    list-style-type: disc;
    padding-left: 40px;
    text-align: left;
    display: inline-block;
  }
  
  .about-page li {
    font-size: 18px;
    margin: 5px 0;
  }
  