body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("../assets/DashboardBg.png") no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.5); /* Light white overlay */
  background-blend-mode: lighten; 
  background-size: cover;
}

.auth-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.9); 
 
  color: white;
  padding: 50px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth-container h2{
  color: #2e8b57;
}
.auth-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input,select {
  margin: 15px 0;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

.auth-container button {
  background: #2e8b57;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.auth-container button:hover {
  background: #246b47;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.toggle-link {
  color: #2e8b57;
  cursor: pointer;
}

.toggle-link:hover {
  text-decoration: underline;
}
.para{
  color:black;
}
