.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #2e8b57;
}
.logo-link {
  text-decoration: none;
  color: #2e8b57; /* Keep the color consistent */
}
.logo-link:hover {
  color: #1e6b40; /* Slightly darker on hover */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-btn {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 40px;
}

.nav-btn:hover {
  background-color: #256d44;
}

